  *{
      box-sizing: border-box;
  }
  

    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-RegularItalic.woff2') format('woff2');
      font-weight: normal;
      font-style: italic;
    }
  
    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
      font-weight: 700;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-BoldItalic.woff2') format('woff2');
      font-weight: 700;
      font-style: italic;
    }
  
    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-Black.woff2') format('woff2');
      font-weight: 900;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-BlackItalic.woff2') format('woff2');
      font-weight: 900;
      font-style: italic;
    }
  
    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-Light.woff2') format('woff2');
      font-weight: 300;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-LightItalic.woff2') format('woff2');
      font-weight: 300;
      font-style: italic;
    }
  
    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-Thin.woff2') format('woff2');
      font-weight: 100;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-ThinItalic.woff2') format('woff2');
      font-weight: 100;
      font-style: italic;
    }
  
    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
      font-weight: 600;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'Cera Pro';
      src: url('../fonts/CeraPro-MediumItalic.woff2') format('woff2');
      font-weight: 600;
      font-style: italic;
    }
        
  body {
      margin: 0;
      line-height: 1.7;
      color: #3D3D3D;
      font-family: 'Cera Pro', sans-serif;

  }
  
  form {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  input {
      border: 1px solid #eaeaea;
      border-radius: 5px;
      height: 40px;
      margin-bottom: 20px;
      display: inline-block;
      width: 300px;
  }

  .button {
      width: 300px;
      background: #46A358;
      color: #fff;
      border: 1px solid #46A358;
      padding: 10px;
      text-align: center;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
  }

  .button:hover {
      background: #fff;
      color: #46A358;
  }

  .social-login {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 300px;
      height: 40px;
      border: 1px solid #eaeaea;
      text-decoration: none;
      gap: 10px;
      transition: 0.2s;
      margin-bottom: 20px;
  }

  .social-login:hover {
      box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.42);
  }

  .register {
      color: #46A358;
  }

  .alternative {
      color: darkgray;
  }
    .alternative::before,
    .alternative::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 97px;
      height: 1px;
      background: darkgrey;
    }

  .container {
      max-width: 400px;
      border: 2px solid gray;
      padding: 10px;
      margin: 40px auto;
      box-shadow:0 0 15px gray; 
  }
  
  /* index page */
.header {
    font-size: 0;
}

.main_container{
   max-width:1200px;
    margin: 10px auto;
    padding: 0 15px;
}
  .head_container{
    padding: 2px 0;
    position: relative;
  }
  .visual{

    padding:0 17px; 
    margin: 10px auto; 
    background-color: #F5F5F580;
   
  }
 .logo, 
 .header_nav,
 .navigation_button{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    
  }
  ul{
    list-style-type: none;
  }
  .header_nav ul{
    padding: 0;
    margin: 0;
  }
  .logo{
    width: 150px;
  }
  .navigation_button{
    min-width: 100px;
    height: 35px;
    border: 2px solid #46A358;
    background-color: #46A358;
    border-radius: 6px;
    text-align: center;
    color: #fff; 
    padding: 5px;
    line-height:1;
  }
  .navigation_button:hover{
    background-color: #30633a;
    transform: scale(1.1);
  }
  .navigation_button a:visited{
    color: #fff;
  }
  .header_nav{
    width: calc(100% - 250px);
    text-align: center;
  }
  .header_nav-list li{
    display: inline-block;
    margin: 0 25px 0; 
  }
  .navigation_button,.header_nav-list a{
    text-decoration: none;
  }
  .login_img{
    width: 20px;
    height: 20px;
   
  }
   
  .header_nav-list a{
    color: #3D3D3D;
    padding-bottom: 30px;
    
  }
  .active a{
    font-weight: bold;
  }

  .header_nav-list li a::after{
    content: "";
    height: 3px;
    width: 45px;
    background: #46A358;
    position: absolute;
    left: 0;
    bottom: 2px;
  }
  /* .active a, 
  .header_nav-list a:hover{
    border-bottom: solid 3px #46A358;
  } */
  .text,
  .image_plant{
    display: inline-block;
  }
    .paragraph_1,
    .paragraph_2,
    .main_caption {
      margin: 0;
    }
  .text{
    width: 620px;
    font-size: 0;
    
  }
  .image_plant{
    width: 510px;
  }
  .paragraph_1{
  
    width: 100%;
    font-size: 14px;
    line-height: 16px;
 
  }
  .paragraph_2{
    
    width: 100%;
    font-size: 14px;
    color:#727272;
    line-height: 24px;
  }
  .main_caption{
   
    width: 100%;
    font-size: 70px;
    font-weight:900;
    line-height: 70px;
  }
   .text,.image_plant{
    vertical-align: middle;
  } 
  .paragraph_1,
  .paragraph_2,
  .main_caption{
    color: #3D3D3D;
  }
 
  .plant{
   
    width: 507px;
    
  }
  .shop_button{
    margin-top: 30px;
  }
  .planet{
    color: #46A358;
  }
  .btn{
    margin: 4px;
  }
  .login_img,.btn{
    display: inline-block;
    vertical-align: middle;
  }
  .main{
    max-width: 1200px;
    margin: 0px auto;

  }
    .main::after {
      content: '';
      clear: both;
      display: block;
    }

  .side-bar{
    width: 310px;
    float: left;
    margin-top: 25px;
    background-color: #FBFBFB;
  }
  .side-bar + .content{
    width:calc(100%-350px);
    float: right;
    padding-left: 50px; 
  }
  .side-menu{
    margin: 15px;
    font-size: 15px;
    
  }
  .side-menu a{
    text-decoration: none;
    color: #3D3D3D
  }
    .side-menu a:visited {
      color: #3D3D3D
    }
  .side-menu a:hover{
    color: #46A358;
  }
  
  .side-menu li{
    margin-bottom: 21px;
  }
  .side-plant{
    
    width: 310px;
    
  }
  .caption_for_list{
    margin: 20px 30px;
    font-size: 18px;
    font-weight: 700;
  }

  .content{
    float: right;
    padding: 0 10px;
  }
  .content-menu{
    display: inline-block;

  }
  .content-menu li{
    display: inline-block;
    margin: 0 10px;
  }
  .content-menu a{
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
   
  }
    .content-menu a:hover{
      border-bottom: solid 3px #46A358;
    }
   
    .current a{
      color: #46A358;
      border-bottom: solid 3px #46A358;
    }
     .side-menu .current_option a {
          color: #46A358;
          font-weight: 700;
        }
        
    .sort{
      color: #3D3D3D;
      float: right;
      margin: 16px;
    }
    
   
    .sort::after{
      content: '';
      clear: both;
      display:block;
    }
    [alt="arrow"]{
      width: 16px;
    }
     .card_plant_1{
      width: 30%;
      padding: 5px;
      flex-grow: 1;
     
     }
    
     [alt="plant_1"] {
           width: 100%;
          background-color: #FBFBFB;
         }
    .price{
      color: #46A358;
      font-weight: 700;
      font-size: 18px;
      line-height: 16px;
      margin: 5px;
    }  
    
    .name{
      color: #3D3D3D;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      margin: 5px;

    }  
    .pages-menu li{
      display: inline-block;
      padding: 3px 3px 3px;
      text-align: center;
      margin: 0 3px;
      width: 35px;
      height: 35px;
      border: 1px solid #727272;
      border-radius: 2px;
    } 
    .pages-menu a{
      text-decoration: none;
      color: #3D3D3D;
      font-size: 18px;
      line-height: 16px;
      font-weight: 300;
    }
    .pages{
       display: flex;
       align-items: center;
       justify-content: flex-end;
       margin-top: 30px;
       margin-bottom: 150px;
      
    }
    .pages-menu li{
      flex-grow: 1;
    }
         [alt="arrow_rigt"]{
          display: inline-block;
         }

         [alt="arrow_rigt"],
         .pages-menu li{
          vertical-align: middle;
         }
         .current_page {
          background-color: #46A358;
         }
       
       .pages-menu li:hover {
         background-color: #46A358;
             }
        
        .pages-menu li:hover a {
          color: white;
                }
        .current_page a{
          color: white;
         }

         .flex-container{
          display: flex;
          align-items: stretch;
         }
         .cards{
          display: flex;
          flex-wrap: wrap;
          row-gap: 37px;
          column-gap: 35px;
         }
      
         .offers{
          display: flex;
          justify-content: center;
         column-gap: 30px;
         margin-bottom: 138px;
         }
         
         .offer_1{
          display: flex;
          width: 50%;
          background-color: #FBFBFB;
          padding: 15px;
          align-items: center;
          
        

         }
         .african_violet,
        .blushing_bromeliad{
          width: 100%;
          margin-top: -100px;
        }
        .info{
          display: flex;
          flex-direction: column;
          text-align: right; 
          align-items: flex-end;
          row-gap: 15px;
        }
        .info_caption{
          font-size: 18px;
          line-height: 24px;
          font-weight: 900;
          text-transform: uppercase;
          color: #3D3D3D;
          margin:0;
          
        }
        .description{
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          color: #727272;
          margin: 0;
          margin-left: -46px;
        }
        .blogs_button{
            display: flex;
            justify-content: center;
            flex-direction: row;
            min-width: 140px;
            align-self: flex-end;   
        }

        .blog_caption{
          text-align: center;
        }
       
        .caption_posts{
          font-size: 30px;
          line-height: 30px;
          font-weight: 700;
          color: #3D3D3D;
          margin-bottom: 5px;
         

        }
        .info_posts {
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          color: #727272;
          margin:0 0 35px;
        }
        [src="plant_blog"]{
          width: 100%;
        }

        .blog_container{
          display: flex;
          flex-wrap: nowrap;
          column-gap: 44px;
          padding-bottom: 20px;
          font-size: 14px;


        }
        .post{
          display: flex;
          width: 25%;
          background-color: #FBFBFB;
          flex-direction: column;
          flex-grow: 1;
          
        }
        .extra{
          display: flex;
          flex-direction: column;
          padding: 15px;
          align-items: flex-start;
          row-gap: 5px;
        }
        .date,
        .caption_to_post,
        .description_post{
          margin: 0;
          text-align: left;
        }
       .caption_to_post{
        font-size: 20px;
        font-weight: 700;
        color: #3D3D3D;

        }
        .date{
          
          font-weight: 500;
          color: #46A358;
        }
        .description_post{
        
          font-weight: 400;
          color: #727272;
        }
        .more_info {
          text-decoration: none;
          color: #3D3D3D;
          font-weight: 500;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 3px;
        }
        .more_info:visited{
          color: #3D3D3D;
        }
        .more_info:hover{
          color: #46A358;
        }
